body, div, nav, ul, li, a, p, h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #35d4ff;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #7be3ff;
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

main {
  width: 90%;
  margin: 20px auto;
}

button {
  width: 100%;
  font-size: 1.4em;
  background-color: #35d4ff;
  border-radius: 8px;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 1.2em;
  outline: none;
  padding: 6px;
}

button:hover {
  background-color: #7be3ff;
}

input, label {
  font-size: 1.2em;
}

label {
  font-weight: 800;
}

.bold {
  font-weight: 800;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-box label {
  color: #666;
  margin-bottom: 10px;
}

.input-box input {
  border-radius: 4px;
  padding: 6px;
}

/*
@media only screen and (min-width: 800px) {
  .main-flex-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-columns: 240px auto;
    grid-auto-rows: minmax(100px, auto)
  }
  .main-content-grid-column {
    grid-column: 2 / 7;
  }
  .main-nav {
    background-color: #35d4ff;
    color: #fff;
    height: 100vh;
    font-size: 1.2em;
    padding: 20px 20px;
    position: sticky;
  }

  .main-nav nav ul {
    display: block;
  }

  .main-nav nav ul li {
    display: block;
  }
}
*/


@media only screen and (max-width: 900px) {
}
